
<!--Resturant Name-->
<div class="row" id="header">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<H1 class="restName col-xs-7 col-sm-7 col-md-7 col-lg-7">{{restaurant.shop.name}}</H1>
		<div class="newReviewBtn col-xs-5 col-sm-5 col-md-5 col-lg-5">
			<a class="btn btn-danger pull-right" ng-click='restaurant.writeReview()'>Add a new Review</a>
		</div>
	</div>
</div>

<!--Rating & Number of Reviews-->
<div class="row">
	<div class="ratingAndReviews col-xs-12 col-sm-12 col-md-8 col-lg-8">
		<star-panel star-rating='restaurant.shop.rating'></star-panel>
		<span class='noOfReviews'>{{restaurant.shop.noOfReviews}} reviews</span>
	</div>
</div>

<!--Type of cuisine-->
<div class="row" id="cuisine">
	<div class="cuisineBlock col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h5>{{restaurant.shop.cuisine}}</h5>
	</div>	
</div>

<!--Location, Hours & Images-->
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		
		<!--Address & Hours-->
		<div class=" addressAndHours col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<!--Address-->
			<div><strong>
				{{restaurant.shop.address.street1}} <br ng-if='restaurant.shop.address.street2 !== ""'>
				{{restaurant.shop.address.street2}} <br ng-if='restaurant.shop.address.street3 !== ""'>
				{{restaurant.shop.address.street3}} <br ng-if='restaurant.shop.address.city !== ""'>
				{{restaurant.shop.address.city}}, 
				{{restaurant.shop.address.state}} 
				{{restaurant.shop.address.zip}}				
			</strong></div>
			<br>
			<!--Hours of Opperation-->
			<div>
				Hours of operation:
				<div ng-repeat='service in restaurant.shop.hours'>
					<span ng-if='service.always !== undefined'>{{service.message}}</span>
					<span ng-if='service.always == undefined'>{{service.open}} - {{service.close}}</span>
				</div>
			</div>
		</div>	
		
		<!--Images-->
		<div class="imageBlock col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<img style='width: 140px' ng-src='{{restaurant.shop.image.Src}}' title="{{restaurant.shop.image.title}}"></img>
		</div>
	</div>
</div>

<!--Add a review   href="#/restaurant/9003671680/new/11"-->
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<div ui-view></div>
	</div>
</div>

<!--List of Reviews-->
<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
		<h3>Reveiws</h3>
		<ul class='reviewsList'>
			<li class='reviewsListBlock' ng-repeat="review in restaurant.reviews">
				<div class='reviewerName col-xs-3 col-sm-3 col-md-3' >
				{{review.name.first}} {{review.name.last}}
				</div>
				<div class='starsAndReview col-xs-9 col-sm-9 col-md-9' >
					<p>
						<star-panel star-rating='review.rating'></star-panel>
						<span class='reviewDate'>{{review.date | date: 'M/d/yy'}}</span>
					</p>
					<p>
						{{review.comments}}	
					</p>
				</div>
			</li>
		</ul>
	</div>
</div>

<!--Footer-->
<div class="row">
	<div class='footer'>
	</div>
</div>
