<!--Header row-->
<section class="row filterBar">
	<div class="container">

		<!--Page Title // tab-->
		<h3 class="col-xs-8 col-sm-8 col-md-8 col-lg-8 filterHeading"
			tabindex="10">
			<div>
				<strong autofocus>Best restaurants</strong> 
				<span ng-if='list.city'>
					<br>
					in {{list.city}}
				</span>	
			</div>
			
		</h3>

		<!--Filter subview // tabindex starts at 20-->
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
			<button class="btn btn-danger filterBtn pull-right"
					ng-click='list.toggleFiltersBox()'
					ng-submit='list.toggleFiltersBox()'
					tabindex="20">
				<span class="glyphicon glyphicon-filter"></span> 
				All Filters
			</button>
			<span class="pull-right" tabindex="21">
				{{list.noOfRestaurants}} restaurant<span ng-if='list.noOfRestaurants > 1'>s Found</span>
			</span>
		</div>
		
		<!--Filter subview // tabindex starts at 22-->
		<div 	class="filtersBox col-xs-12 col-sm-12 col-md-12 col-lg-12"
				ng-show='list.showExtendedFilters'>
	
			<!--Filter by Type of Cuisine-->
			<div class="filtersSection col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<label 	for="foodCategoryFilter" 
						class='screenReaderOnly'>Filter By Types Of Food</label>
				<strong tabindex="22" id='foodCategoryFilter'>Category</strong>
				<ul class='filterList'>
					<li>
						<label 	for="categoryMexican" 
								class='screenReaderOnly'>Mexican</label>
						<input 	type="checkbox" 
								ng-model='list.filters.cuisine.Mexican' 
								tabindex="23"
								name='categoryMexican'
								autofocus 
								id='categoryMexican'
								ng-click='list.reFilter("cuisine","Mexican")'
								ng-change='list.reFilter("cuisine","Mexican")'
								/>
								Mexican
					</li>
					<li>
						<label 	for="categoryAmerican" 
								class='screenReaderOnly'>American</label>
						<input 	type="checkbox" 
								ng-model='list.filters.cuisine.American' 
								tabindex="24"
								name='categoryAmerican'
								id='categoryAmerican'
								ng-click='list.reFilter("cuisine","American")'
								ng-change='list.reFilter("cuisine","American")'
								/>
								American
					</li>
					<li>
						<label 	for="categoryJapanese" 
								class='screenReaderOnly'>Japanese</label>
						<input 	type="checkbox" 
								ng-model='list.filters.cuisine.Japanese'
								tabindex="25"
								name='categoryJapanese'
								id='categoryJapanese'
								ng-click='list.reFilter("cuisine","Japanese")'
								ng-change='list.reFilter("cuisine","Japanese")'
								/>
								Japanese
					</li>
					<!--<li><a href="" tabindex="26">More...</a></li>-->
				</ul>
			</div>

			<!--Filter by # of Reviews // tab index starts at 40-->
			<div class="filtersSection col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<label 	for="totalReviewsFilter" 
						class='screenReaderOnly'>Filter By Total Number Of Reviews</label>
				<strong tabindex="40" id='totalReviewsFilter'>Total Reviews</strong>
				<br>More than...
				<ul class="filterList">
					<li>
						<label 	for="greaterThanFive" 
								class='screenReaderOnly'>More than 5 Reviews	</label>
						<input 	type="radio" 
								ng-model='list.filters.totalReviews' 
								value='5' 
								tabindex="41"
								name='greaterThanFive'
								id='greaterThanFive'
								ng-click='list.reFilter("totalReviews")'
								ng-change='list.reFilter("totalReviews")'
								>
								5 Reviews
					</li>
					<li>
						<label 	for="greaterThanFifity" 
								class='screenReaderOnly'>More than 50 Reviews	</label>
						<input 	type="radio" 
								ng-model='list.filters.totalReviews'  
								value='50' 
								tabindex="42"
								name='greaterThanFifity'
								id='greaterThanFifity'
								ng-click='list.reFilter("totalReviews")'
								ng-change='list.reFilter("totalReviews")'
								>
								50 Reviews
					</li>
					<li>
						<label 	for="greaterThanFiveHundred" 
								class='screenReaderOnly'>More than 500 Reviews	</label>
						<input 	type="radio" 
								ng-model='list.filters.totalReviews'	
								value='500' 
								tabindex="43"
								name='greaterThanFiveHundred'
								id='greaterThanFiveHundred'
								ng-click='list.reFilter("totalReviews")'
								ng-change='list.reFilter("totalReviews")'
								>
								500 Reviews
					</li>
				</ul>
			</div>
			
			<!--Filter by star rating-->
			<div class="filtersSection col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<label 	for="averageRatingFilter" 
						class='screenReaderOnly'>Filter By Number of Stars</label>
				<strong tabindex="50" id='averageRatingFilter'>Star Rating</strong>
				<br>At least...
				<ul class="filterList">
					<li>
						<label 	for="threeStarsOrMore" 
								class='screenReaderOnly'>3 Stars Or More</label>
						<input 	type="radio" 
								name='threeStarsOrMore' 
								id='threeStarsOrMore'
								ng-model='list.filters.starRating' 
								value='3' 
								tabindex="51"
								ng-click='list.reFilter("starRating")'
								ng-change='list.reFilter("starRating")'>
						<star-panel star-rating='3'></star-panel>
					</li>
					<li>
						<label 	for="fourStarsOrMore" 
								class='screenReaderOnly'>4 Stars Or More</label>
						<input 	type="radio" 
								name='fourStarsOrMore' 
								id='fourStarsOrMore'
								ng-model='list.filters.starRating' 
								value='4' 
								tabindex="52"
								ng-click='list.reFilter("starRating")'
								ng-change='list.reFilter("starRating")'>
						<star-panel star-rating='4'></star-panel>
					</li>
					<li>
						<label 	for="fiveStars" 
								class='screenReaderOnly'>At Least 5 Stars</label>
						<input 	type="radio" 
								name='fiveStars'
								id='fiveStars' 
								ng-model='list.filters.starRating' 
								value='5' 
								tabindex="53"
								ng-click='list.reFilter("starRating")'
								ng-change='list.reFilter("starRating")'>
						<star-panel star-rating='5'></star-panel>
					</li>
				</ul>
			</div>

			<!--Clear all Filters Button-->
			<div class="filtersSection col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<label 	for="resetAllFilters"
						class='screenReaderOnly'>Reset all filters</label>
				<button class='btn btn-warning col-xs-12 col-sm-12 col-md-12 col-lg-12'
						name='resetAllFilters'
						id='resetAllFilters'
						tabindex="58"
						ng-submit='list.resetFilters()' 
						ng-click='list.resetFilters()'
						>
						Reset Filters
				</button>
			</div>

		</div>

		<!--Error Message-->
		<div 	class="col-xs-12 col-sm-12 col-md-12 col-lg-12 alert-danger"
				ng-if='list.searchError'>
			{{list.searchError}}
		</div>
	</div>


	<!--Add sort by filter-->
	<div class="container">
		<div 	class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
			<p>Sort by Restaurant, Total Reviews, Star Rating, or Cuisine</p>
			<label for="sortOptionInput	" class='screenReaderOnly'>
				Sort by list</label>	
				<input 	list='sortOption' 
						name='sortOptionInput'
						id='sortOptionInput' 
						class='col-xs-12 col-sm-12 col-md-12 col-lg-12' 
						placeholder="Currently Sorted by {{list.toTitleCase(list.order.start)}}"
						tabindex="61"
						autofocus 
						aria-label='Sort this list of restaurants by one of the following. Restaurant, Total Reviews, Star Rating, or Cuisine.'
						ng-model='list.order.new'
						>
				<datalist 	name="sortOption" 
							id="sortOption"
							class='col-xs-12 col-sm-12 col-md-12 col-lg-12'
							>
					<option ng-repeat='sortOption in list.order.options.available' value="{{sortOption}}">{{sortOption}}</option>
				</datalist>
		</div>
	</div>
</section>

<!--Search Results row-->
<article class="row">
	<div class="container">
		<div 	class='col-xs-12 col-sm-12 col-md-12 col-lg-12 aRestaurantProfile'
				ng-repeat="spot in list.restaurantList track by $index"
			 	tabindex="70" 
			 	ng-model='test'
			 	ng-click='list.viewRestaurant($index)'
			 	ng-submit='list.viewRestaurant($index)'>
			<!--Restaurant Photo-->
			<div class="col-xs-0 col-sm-0 col-md-3 col-lg-3 restElement" >
				
			</div>

			<!--Restaurant Name, Rating, # of Ratings, and Cuisine-->
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 restElement">
				
				<span aria-hidden="true">{{$index + 1}}.</span> 
				<a href="">{{spot.name}}</a> 
				<br>
				
				<div ng-if='spot.noOfReviews > 0' id='hasStarRating' aria-label='{{spot.rating}} stars, from {{spot.noOfReviews}} reviews.'>
					<label for="thisStarRating" class='screenReaderOnly'>{{spot.rating}} stars</label>
					<star-panel star-rating='spot.rating' id='thisStarRating'></star-panel>{{spot.noOfReviews}}
				</div>
				
				<div ng-if='!(spot.noOfReviews > 0)'>
					No reviews yet
				</div>
				
				<a href="" id='cuisineIdentity' aria-label='{{spot.cuisine}} cuisine.'>{{spot.cuisine}}</a>
			</div>

			<!--Restaurant Address & Phone Number-->
			<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 restElement">
				<span class="pull-right" 
				aria-label='street address {{spot.address.street1}} {{spot.address.city}}, zipcode {{spot.address.zip}}. phone number {{spot.phone}}.'>
				{{spot.address.street1}} <br ng-if='spot.address.street2 !== ""'>
				{{spot.address.street2}} <br ng-if='spot.address.street3 !== ""'>
				{{spot.address.street3}} <br ng-if='spot.address.city !== ""'>
				{{spot.address.city}}, 
				{{spot.address.state}} 
				{{spot.address.zip}}
				<br>
				<span>{{spot.phone}}</span>
				</span>
			</div>
			
		</div>
	</div>
</article>