<div class='landingContainer'>

	<div class="row landingHeader">
		<div class="container">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<header tabindex="1">
					<h1 aria-label='find your favorite food here'>Find your favorite food...</h1>
				</header>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="container landingInput">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

				<form class="form-group">
					<!--Search by name-->
					<!--Maybe add this back later
					<label for="nameInput"></label>
					<input 	type="text" 
							class="form-control" 
							id="nameInput" 
							placeholder="by name (example McDonalds)"
							ng-model="landing.seachBy.name">-->
					
					<!--Search by cuisine-->
					<!--Maybe add this back later
					<label for="cuisineInput"></label>
					
					<input 	type="text" 
							class="form-control" 
							id="cuisineInput" 
							placeholder="by cuisine (example Italian)"
							ng-model="landing.seachBy.cuisine">-->

					<!--Search by location-->
					<label for="cityInput"></label>
					<input 	type="text" 
							class="form-control" 
							id="cityInput" 
							placeholder="Enter a city to search by"
							ng-model="landing.seachBy.city"
							autofocus 
							>

					<!--Maybe add this later, but too much for right now
					<label for="zipInput"></label>
					<input 	type="text" 
							class="form-control" 
							id="zipInput" 
							placeholder="by zip (example 90007)"
							ng-model="landing.seachBy.zip">-->
					
					<p style='margin-top: 10px'>We currently have listings in Los Angeles, San Francisco, London, and Melbourne.  Check back for more soon!</p>

					<!--Submission button-->
					<label for="submit"></label>
					<input 	class="btn btn-success btn-block" 
							type="submit" 
							id="srchSubmit" 
							value="Submit"
							ng-click="landing.seachNow(landing.seachBy)"
							ng-submit="landing.seachNow(landing.seachBy)">
				</form>
								
			</div>
		</div>
	</div>
</div>
